<h2 mat-dialog-title>PROGRAMACIÓN DE TURNOS</h2>
<mat-dialog-content class="mat-typography">
  <div fxFlex="100" fxFlex.lt-sm="100" class="matero-col">
    <form #myForm="ngForm" class="form-field-full">
      <div fxLayout="row wrap" fxLayoutGap="8px grid">

        <div fxFlex="50" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>Alfa:</mat-label>
            <input id="alfa" name="alfa" [(ngModel)]="datos.alfa" matInput 
            placeholder="ALFA">
            <mat-icon matSuffix>queue</mat-icon>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-sm="100">
          <mat-form-field appearance="outline">
            <mat-label>Descripción:</mat-label>
            <input id="descripcion" name="descripcion" [(ngModel)]="datos.descripcion" matInput
              placeholder="DESCRIPCION">
            <mat-icon matSuffix>queue</mat-icon>
          </mat-form-field>
        </div>

      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button *ngIf="!tipoBock" mat-button [mat-dialog-close]="data" color="primary" (click)="crearNuevo()"
    [disabled]="!myForm.form.valid" cdkFocusInitial>GUARDAR</button>
  <button *ngIf="tipoBock" mat-button [mat-dialog-close]="data" color="primary" (click)="modificarRegistro()"
    [disabled]="!myForm.form.valid" cdkFocusInitial>MODIFICAR</button>
</mat-dialog-actions>