<h3>PACIENTE NO ASIGNADO A MAQUINA</h3>
<hr>
<br>
<form [formGroup]="newForm1">
    <div mat-dialog-content>
        <div fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
            fxLayoutGap="0.6%">
            <mat-form-field appearance="outline">
                <mat-label>Ficha Clínica</mat-label>
                <div fxFlex="100%">
                    <input formControlName="matricula_paciente" matInput placeholder="Example... 300000-BGAS " value=""
                        readonly>
                </div>
            </mat-form-field>
            <div fxFlex="2%"></div>

            <mat-form-field appearance="outline">
                <mat-label>Paterno :</mat-label>
                <div fxFlex="100%">
                    <input formControlName="n_paterno" matInput placeholder="Example... Perez" value="" readonly>
                </div>
            </mat-form-field>

        </div>
        <div fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
            fxLayoutGap="0.6%">

            <mat-form-field appearance="outline">
                <mat-label>Materno</mat-label>
                <div fxFlex="100%">
                    <input formControlName="n_materno" matInput placeholder="Example... Tirado" value="" readonly>
                </div>
            </mat-form-field>

            <div fxFlex="2%"></div>

            <mat-form-field appearance="outline">
                <mat-label>Nombres :</mat-label>
                <div fxFlex="100%">
                    <input formControlName="n_nombre" matInput placeholder="Example... Hospital Municipal Cotahuma"
                        value="" readonly>
                </div>
            </mat-form-field>

        </div>
        <div fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
            fxLayoutGap="0.6%">

            <mat-form-field appearance="outline">
                <mat-label>Centro Hospitalario :</mat-label>
                <div fxFlex="100%">
                    <input formControlName="hospital" matInput placeholder="Example... Hospital Municipal Cotahuma"
                        value="" readonly>
                </div>
            </mat-form-field>

            <div fxFlex="2%"></div>

            <mat-form-field appearance="outline">
                <mat-label>Maquina : </mat-label>
                <div fxFlex="100%">
                    <mat-select formControlName="servicio" (selectionChange)="valueCombo($event.value)">
                        <mat-option *ngFor="let variable_combo1 of variable_combo" [value]="variable_combo1.maqid">
                            {{variable_combo1.maqid}} &nbsp;&nbsp;
                            {{variable_combo1.maqdatos[0].maq_codigo}}
                        </mat-option>
                    </mat-select>
                </div>
            </mat-form-field>

        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close>Cancelar</button>
        <button mat-raised-button (click)="onSubmit('crear')">Enviar</button>
    </div>
</form>