<h2 mat-dialog-title style="background-color: #09B8B0; color:#fff;" align="center">Nueva Especialidad</h2>
<form [formGroup]="newForm" (ngSubmit)="onSubmit()">
<div mat-dialog-content>
   <div fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
      fxLayoutGap="0.6%">
      <div fxFlex="50%">
         <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Código de Especialidad:</mat-label>
            <input matInput formControlName="esp_cod_especialidad">
         </mat-form-field>
      </div>
      <div fxFlex="50%">
        <mat-form-field class="example-full-width" appearance="outline">
           <mat-label>Descripción:</mat-label>
           <input matInput formControlName="esp_desc_especialidad">
        </mat-form-field>
     </div>
   </div>
   <div fxLayoutAlign="center center" fxLayout.sm="column" fxLayout.xs="column" fxLayout.md="row" fxLayout="row"
      fxLayoutGap="0.6%">
      <div fxFlex="50%">
         <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Precio Consulta:</mat-label>
            <input matInput formControlName="esp_precio">
         </mat-form-field>
      </div>
      <div fxFlex="50%">
        <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Precio Reconsulta:</mat-label>
            <input  matInput formControlName="esp_precio_reconsulta">
        </mat-form-field>
      </div>
   </div>

</div>
<div mat-dialog-actions align="end">
   <button mat-button mat-dialog-close style="background-color: #f44336; color:#fff;">Cancelar</button>
   <button mat-button cdkFocusInitial style="background-color: #09B8B0; color:#fff;">Guardar</button>
</div>
</form>